@use 'src/global' as *;
.wrapper {
  display: flex;
  text-align: center;
}
.root {
  animation: anim 2s;
  animation-duration: 3s;
  font-size: 4vh;
  color: #000000;
  padding: 0 20px;
  @include medium() {
    font-size: 2hv;
  }
}

@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    width: 100%;
  }
}
