@use 'src/global' as *;

.wrap {
  position: absolute;
  top: 50px;
  right: 350px;
  display: flex;
  justify-content: center;
  flex: 1;
  border-radius: 20px;
  background-color: #ffffff;
  @include bigCard() {
    right: 200px;
  }
  @include smallCard() {
    right: 150px;
  }
}

.btn {
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  border: 0;
  border-radius: 20px;
  background-color: #ffffff;
  color: #575556;
  &:hover {
    background-color: #575556;
    opacity: 0.2;
    color: #ffffff;
  }
  @include smallCard() {
    width: 80px;
    height: 40px;
  }
}
.active {
  background-color: #575556;
  opacity: 0.2;
  color: #ffffff;
}
