@use 'src/global.scss' as *;

.pageContainer {
  //height: 100vh;
  background-color: var(--main-color);
}
.card {
  display: flex;
  justify-content: center;
  //@include small() {
  //  justify-content: stretch;
  //}
}
