$small-width: 500px;
$medium-width: 850px;

@mixin small() {
  @media (max-width: $small-width) {
    @content;
  }
}

@mixin medium() {
  @media (max-width: $medium-width) {
    @content;
  }
}

$bigCard-width: 950px;
$mediumCard-width: 650px;
$smallCard-width: 480px;

@mixin bigCard() {
  @media (max-width: $bigCard-width) {
    @content;
  }
}
@mixin mediumCard() {
  @media (max-width: $mediumCard-width) {
    @content;
  }
}
@mixin smallCard() {
  @media (max-width: $smallCard-width) {
    @content;
  }
}
